/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');  

/* ===================================
    General
====================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color:#ffffff;
	font-weight:400;
	line-height: 25px;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #21212E;
}
p{
	margin-bottom: 0;
}
a {
	color:inherit;
}
a:hover, a:active {
	text-decoration: none;
}
img{
	width: 100%;
}
h1{
	font-size: 76px;
}
h2{
	font-size: 61px;
}
h3{
	font-size: 45px;
}
h5{
	font-size: 23px;
}
.pad-zero{
	padding: 0!important;
}
button:focus{
	outline:none;
}
/* Header */

header {
	padding: 30px 100px;
}
nav.navbar .navbar-brand {
    max-width: 200px;
}
.navbar-nav > .nav-item .nav-link {
	color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin: 0 15px;
    padding: 0;
}
.navbar-nav > .nav-item .nav-link:after {
    height: 5px;
    width: 0;
    background: #46C2FF;
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.navbar-nav > .nav-item .nav-link::before {
    height: 5px;
    width: 0;
    background: #8FCD2E;
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.navbar-nav > .nav-item .nav-link:hover, .navbar-nav > .nav-item.active .nav-link, .navbar-nav > .nav-item .nav-link:focus{
	color: #ffffff;
}
.navbar-nav > .nav-item .nav-link:hover::after, .navbar-nav > .nav-item.active .nav-link::after, .navbar-nav > .nav-item .nav-link:focus::after{
	width: 100%;
}
.navbar-nav > .nav-item .nav-link:hover::before, .navbar-nav > .nav-item.active .nav-link::before, .navbar-nav > .nav-item .nav-link:focus::before{
	width: 50%;
}
.header-btn {
    margin-left: 30px;
}
.btn.btn-theme {
	background: #46c2ff;
	background: -moz-linear-gradient(-45deg,  #46c2ff 0%, #8fcd2e 99%);
	background: -webkit-linear-gradient(-45deg,  #46c2ff 0%,#8fcd2e 99%);
	background: linear-gradient(135deg,  #46c2ff 0%,#8fcd2e 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c2ff', endColorstr='#8fcd2e',GradientType=1 );
    color: #ffffff;
    border: none;
    padding: 11px 32px;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(143,205,46,1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(143,205,46,1);
    box-shadow: 0px 0px 40px 0px rgba(143,205,46,1);
    min-width: 160px;
}
.btn.btn-border{
	background: transparent;
	border: 1px solid #46C2FF;
	color: #46C2FF;
	text-transform: uppercase;
	padding: 10px 15px;
	font-size: 18px;
}
.btn.btn-theme.gradient--2{
	background: #01697a;
	background: -moz-linear-gradient(-45deg,  #01697a 0%, #8fcd2e 100%);
	background: -webkit-linear-gradient(-45deg,  #01697a 0%,#8fcd2e 100%);
	background: linear-gradient(135deg,  #01697a 0%,#8fcd2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01697a', endColorstr='#8fcd2e',GradientType=1 );
}
.btn.btn-theme.btn-xl {
    font-size: 26px;
    padding: 20px 50px;
}
.btn.btn-theme.btn-sm {
    width: 100%;
    border: 1px solid #8FCD2E;
    font-size: 27px;
    line-height: 40px;
}
.box-shadow-none{
    box-shadow:none!important;
}
/* section Banner */

.sec-banner {
	padding: 125px 0 0;
	position: relative;
}
.sec-banner::before {
    content: "";
    position: absolute;
    height: 1844px;
    width: 1844px;
    top: -680px;
    left: -740px;
    background: url(../images/ellipse.png) 0% 0% / 90%;
	background-repeat: no-repeat;
	z-index: -9;
}
.content{
	padding-left: 135px;
}
.content p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
	letter-spacing: 1px;
}
.content h1{
    line-height: 1.4;
    font-weight: 600;
	color: #46C2FF;
	margin-bottom: 20px;
}
.search-field {
    padding-right: 80px;
}
.search-field .form-group{
	position: relative;
    margin-bottom: 50px;
}
.search-field .form-control {
    background-color: #21212E;
    border: 3px solid #00EC98;
    height: 54px;
    font-size: 20px;
    color: #CCCCCC;
	padding: 0 20px;
}
.icon-search {
    max-width: 32px;
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}
.form-control::-webkit-input-placeholder {
	color: #fff;
}
.form-control::-moz-placeholder {
	color: #fff;
}
.form-control:-ms-input-placeholder {
	color: #fff;
}
.form-control:-moz-placeholder {
	color: #fff;
}

/* section Categories */
.sec-categories {
    padding: 120px 0 98px;
    position: relative;
}
.sec-categories::after{
    content: "";
    position: absolute;
    height: 1844px;
    width: 1844px;
    top: -480px;
    right: -710px;
    background: url(../images/ellipse.png) 0% 0% / 90%;
    background-repeat: no-repeat;
    z-index: -99;
}
.heading{
	color: #46C2FF;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.category-list{
	padding: 0 70px;
}
.category-list .catergory-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.category-list ul > li{
	padding-right: 20px;
}
.category-list .catergory-wrapper a {
	display: block;
    text-align: center;
    background: #20202C;
    color: #8FCD2E;
    font-size: 20px;
    font-weight: lighter;
    padding: 34px 45px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}
.category-list .catergory-wrapper a > .list-icon {
    max-width: 125px;
    display: block;
    height: 125px;
    margin: 0 auto 22px;
}
.category-list .catergory-wrapper a:hover{
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.54);
}
.sec-expert{
    padding-bottom: 200px;
    position: relative;
}
.sec-expert::before{
    content: "";
    position: absolute;
    height: 1844px;
    width: 1844px;
    top: -710px;
    left: -1320px;
    background: url(../images/ellipse.png) 0% 0% / 90%;
    background-repeat: no-repeat;
    z-index: -99;
}
.expert-carousel-wrapper{
	padding-top: 10px;
}
.expert-carousel-wrapper .item{
	padding: 30px 0;
}
.expert-card{
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.54);
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 7px;
    margin: 0 12px;
    min-height: 431px;
    background: #20202C;
}
.expert-img {
    height: 264px;
    max-width: 240px;
    border-radius: 7px;
    overflow: hidden;
    opacity: 0.65;
    display: block;
    margin-bottom: 10px;
}
.rating {
    display: flex;
    width: 100%;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    width: 100px;
}
.star-rating input {
	display:none;
}
.star-rating label {
	color:#46C2FF;
	cursor:pointer;
	font-size: 22px;
}
.star-rating :checked ~ label {
	color:#46C2FF;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
	color:#46C2FF;
}
span.rating-since {
    margin-left: 7px;
    font-size: 12px;
}
.location {
    display: inline-block;
    width: 100%;
}
.location > p {
    font-size: 16px;
    color: #46C2FF;
}
.icon-locate {
    max-width: 21px;
    display: inline-block;
    position: relative;
    top: 10px;
}
.expert-detail h5{
	font-weight: bold;
	position: relative;
}
.expert-detail h5::after{
    position: absolute;
    height: 1px;
    content: "";
    background: #8FCD2E;
    width: 90%;
    left: 0;
    bottom: -2px;
}
.ocupation {
    font-size: 21px;
    font-weight: 300;
    color: #46C2FF;
    padding-top: 10px;
}
.expert-detail .content {
    padding: 10px 0 0;
}
.expert-detail .content > p {
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 25px;
}
.moretext {
	display: none;
}
.moreless-button {
    font-size: 12px;
    font-weight: 300;
    line-height: 27px;
    color: #46C2FF;
    text-align: right;
    display: block;
}
#expertCarousal .owl-nav {
    max-width: 470px;
	margin: 0 auto;
	position: relative;
}
#expertCarousal .owl-nav button {
    border: 1px solid #46C2FF!important;
    height: 50px;
    width: 70px;
    display: inline-block;
    border-radius: 7px;
    line-height: 65px!important;
}
.owl-nav button img{
	width: 35%;
}
#expertCarousal button.owl-prev {
    position: absolute;
    left: 0;
}
#expertCarousal button.owl-next {
    position: absolute;
    right: 0;
}
.owl-dots {
	width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.owl-dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #46C2FF !important;
    opacity: .20;
    margin: 0 6px!important;
}
button.owl-dot.active {
    height: 21px;
    width: 21px;
    opacity: 1;
}
.sec-howwork {
	background: #46c2ff;
	background: -moz-linear-gradient(-45deg,  #46c2ff 0%, #8fcd2e 100%);
	background: -webkit-linear-gradient(-45deg,  #46c2ff 0%,#8fcd2e 100%);
	background: linear-gradient(135deg,  #46c2ff 0%,#8fcd2e 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c2ff', endColorstr='#8fcd2e',GradientType=1 );
	padding: 0 0 30px;
}
.sec-howwork h2 {
    font-weight: bold;
    color: #283C5C;
    line-height: 102px;
    border-bottom: 1px solid #21212E;
    display: inline-block;
    margin: 0 auto;
}
.img-wrapper {
    max-width: 470px;
	margin: 0 auto;
	min-height: 520px;
}
.large-number {
	font-size: 145px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: #283C5C;
}
.work-point {
    text-align: center;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    color: #283C5C;
}
/* testimonial */
.sec-testimonial{
	padding: 130px 0 65px;
	background: url(../images/testimonial-banner.png)center / cover;
	background-repeat: no-repeat;
}
.testimonial-wrapper {
    padding: 0 100px;
}
.testimonial-card {
    background: #162640;
    border-radius: 10px;
    opacity: 0.87;
    text-align: center;
    padding: 30px 40px 150px;
	margin-top: 40px;
	position: relative;
}
.client-profile {
    max-width: 170px;
    margin: 0 auto 30px;
}
.context {
    font-size: 20px;
    line-height: 23px;
}
.context p{
	margin-bottom: 25px;
}
#testimonial-carousel .owl-dots {
    position: absolute;
    bottom: 90px;
}
#testimonial-carousel .owl-nav {
	position: absolute;
    top: 40px;
    right: 45px;
}
#testimonial-carousel .owl-nav button {
    border: 1px solid #fff !important;
    height: 50px;
    width: 70px;
    display: inline-block;
    border-radius: 7px;
    line-height: 65px!important;
}
#testimonial-carousel button.owl-next {
    margin-left: 15px;
}
footer{
    background: #21212E;
    padding: 70px 100px 40px;
}
.footer-logo {
    max-width: 300px;
}
ul.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheading {
    font-size: 19px;
    font-weight: 600;
    color: #46C2FF;
    margin-bottom: 20px;
}
ul.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 150px;
}
.social-links > li > a{
    height: 40px;
    width: 40px;
    border: 2px solid #46C2FF;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #46C2FF;
    font-size: 18px;
}
footer p{
    font-size: 16px;
    font-weight: 200;
    line-height: 35px;
}
footer .quick-links a{
    display: block;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-bottom{
    margin-top: 80px;
}
.specialist-page .category-list {
    padding: 0 150px;
}
#categoryCarousel .catergory-wrapper{
    margin: 30px 0;
    justify-content: center;
}
#categoryCarousel button.owl-dot{
    background-color: #8FCD2E!important;
}
#categoryCarousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -9;
}
#categoryCarousel .owl-nav button{
    height: 228px;
    width: 100px;
    background: rgb(21 21 28 / 0.5)!important;
    border-radius: 22px;
}
#categoryCarousel .owl-nav button.owl-prev {
    margin-left: -100px;
}
#categoryCarousel .owl-nav button.owl-next {
    margin-right: -100px;
}
#categoryCarousel .owl-nav button img {
    width: 50%;
}
/* specialist */
.sec-player {
    padding: 0 70px 50px;
}
.player-card {
    text-align: center;
    background: #20202C;
    border: 1px solid #8FCD2E;
    border-radius: 7px;
    margin: 0 10px 140px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.54);
}
.player-profile-card {
    height: 245px;
    width: 245px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    display: inline-block;
    border: 3px solid #8FCD2E;
    margin: 30px 0 20px;
}
.rate-zone > ul > li {
    display: inline-block;
}
.rate-zone > ul > li > span{
    font-size: 35px;
    color: #8FCD2E;
}
.player-card .name {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    line-height: 55px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8FCD2E;
    margin-bottom: 10px;
}

/* vendor appointment */
.person-appointment {
    padding: 100px 40px;
}
.cardboard {
    background: #232333;
    border-radius: 20px;
    box-shadow: 0px 20px 10px rgba(24, 24, 26);
    position: relative;
}
.vendor-profile-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 70px;
}
.vendor-profile-img {
    height: 196px;
    width: 196px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #8FCD2E;
    margin-right: 120px;
}
.vendor-detail h2{
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8FCD2E;
    line-height: 1;
    margin-bottom: 20px;
}
.designation {
    font-size: 25px;
    font-weight: 200;
    color: #8FCD2E;
    margin-bottom: 15px;
    display: block;
}
.vendor-rating li {
    display: inline-block;
    font-size: 24px;
    color: #8FCD2E;
}
.vendor-rating li > span{
    color: #fff;
}
.status {
    margin-right: 120px;
    font-size: 32px; 
}
.online{
    position: relative;
}
.status .online::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #8FCD2E;
    top: 20%;
    left: -25px;
}
.sec-features {
    padding: 10px 40px 100px;
}
.sec-features .cardboard {
    margin-bottom: 120px;
}
.feature {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.value del {
    font-size: 51px;
    color: #7A7A8F;
    display: block;
    line-height: 1;
}
.value p {
    font-size: 150px;
    line-height: 1;
    display: inline-flex;
    margin-right: 20px;
    flex-wrap: nowrap;
    align-items: baseline;
    color: #7A7A8F;
}
.value p > small{
    font-size: 85px;
}
.feature-icon {
    height: 300px;
    width: 730px;
    display: flex;
    align-items: center;
    border: 3px solid #8FCD2E;
    border-radius: 20px;
    justify-content: center;
}
.action-btns {
    background: #1A1A27;
    border: 5px solid #46C2FF;
    border-radius: 50px;
}
.action-btns > li {
    display: inline-block;
    padding: 0px 0 0 30px;
    position: relative;
    font-size: 25px;
}
.action-btns > li > a{
    display: block;
}
.action-btns > li > .btn{
    border-radius: 50px;
}
.language-status{
    padding-top: 10px;
}
.language-status li {
    display: inline-block;
}
.language-status li p{
    font-size: 20px;
    font-weight: 200;
    color: #8FCD2E;
    margin-bottom: 15px;
    display: block;
}
.language-status li span{
    font-size: 18px;
    padding-left: 5px;
}
.m-zero{
    margin: 0;
}

.cardboard-heading h5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #46C2FF;
    margin-bottom: 15px;
}
.cardboard-heading h5 > span {
    margin-right: 10px;
    max-width: 50px;
}
.feature-details .cardboard{
    padding: 40px 30px;
    margin-bottom: 50px;
}
.feature-details .cardboard p{
    font-size: 18px;
}
.skill-sets li {
    display: inline-block;
    margin-right: 10px;
    border: 3px solid #8FCD2E;
    padding: 0 10px;
    border-radius: 50px;
    font-size: 18px;
    color: #8fcd2e;
}
.education-achievent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90px;
}
.education-achievent > li{
    position: relative;
    padding-left: 15px;
}
.education-achievent > li::after{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px; 
    background-color: #8fcd2e;
    border-radius: 50%;
    left: 0;
    top: 8px;
}
.job-experiences li{
    position: relative;
    padding-left: 15px;
    padding-bottom: 10px;
}
.job-experiences > li::after{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px; 
    background-color: #8fcd2e;
    border-radius: 50%;
    left: 0;
    top: 8px;
}
.review-row {
    border-bottom: 1px solid #46C2FF;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}
.review-details h6 {
    font-size: 18px;
}
.reviewer-profile-img {
    width: 120px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.reviewer-rating{
    margin-bottom: 5px;
}
.reviewer-rating > li {
    display: inline-block;
    font-size: 22px;
    color: #8FCD2E;
}
.reviewer-rating > li.total-rating {
    font-size: 15px;
    padding-left: 5px;
}
.review-row:last-child {
    border: none;
}
.social-links.share-via {
    padding: 0;
    position: absolute;
    max-width: initial;
    right: 30px;
    top: 10px;
}
.social-links.share-via > li{
    padding: 0 5px;
}
.bg-img{
    background: #21212E url(../images/body-bg.png) no-repeat;
    background-size: cover;
}

.search-topic .form-control {
    background: #232333;
    border-color: #8FCD2E;
    height: 46px;
}
.aside-bar h3 {
    line-height: 1.2;
    color: #CCCCCC;
}
.aside-navbar {
    border: 1px solid #46C2FF;
    margin-top: 20px;
}
.aside-navbar ul > li > a {
    display: block;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 18px;
    border-bottom: 1px solid #46C2FF;
}
.aside-navbar ul > li:last-child > a{
    border-bottom: none;
}
.aside-navbar ul > li > a:hover, .aside-navbar ul > li.active > a{
    color: #46C2FF;
}


/* forum */
.sec-forum {
    padding: 100px 0;
}
.questions {
    padding: 20px;
}
.question-summary .user-info {
    margin-bottom: 25px;
}
.user-avatar {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    margin-right: 20px;
}
.user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user-detail p {
    font-size: 22px;
}
.user-detail span {
    font-size: 14px;
    font-weight: 300;
}
.statscontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.question-summary {
    border-bottom: 1px solid #46C2FF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.query {
    margin-bottom: 30px;
}
.query h5{
    margin-bottom: 15px;
    font-weight: 500;
}
.query p{
    font-size: 15px;
}
.stats-likes {
    margin-right: 25px;
}
.stats-likes i {
    color: #46C2FF;
    font-size: 18px;
    margin-right: 3px;
}
.stats-replies i{
    color: #8FCD2E;
    font-size: 18px;
    margin-right: 3px;
}
.report-topic {
    color: #46C2FF;
}
.cardboard.mb-200 {
    margin-bottom: 200px;
}
.pagination{
    justify-content: center;
}
.page-link {
    background: transparent;
    border: none;
    color: #46C2FF;
}
.page-link:hover {
    background: none;
}
.question-summary:last-child {
    border: none;
}
.user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* forum replies */
.small-links{
    text-align: right;
}
.small-links li {
    display: inline-block;
    padding: 0 5px;
    color: #46C2FF;
}
.comment-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.commenter-detail {
    opacity: 0.5;
}
.all-comment {
    margin-left: 60px;
    border-bottom: 1px solid #46C2FF;
    padding: 20px 0 20px 60px;
}
.commenter-avatar{
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    height: 70px;
    margin-right: 20px;
}
.comment-text {
    margin-left: 90px;
    font-size: 20px;
}
.postreply-wraper {
    margin: 70px 0;
    padding: 20px 40px 10px;
}
.postreply-wraper p{
    color: #277AFF;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.comment-post textarea{
    height: 286px;
    background: #232333;
    width: 100%;
    box-shadow: 0 10px 10px #18181A;
    border: none;
    resize: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
}
.btn.btn-sm {
    padding: 5px 10px;
    border-radius: 15px;
}
.color-cool {
    color: #8FCD2E!important;
    border-color: #8FCD2E!important;
}
/* about us */
.secaboutus {
    padding: 50px 0;
}
.img-carousel {
    margin-left: -15px;
    position: relative;
    margin: 20px 20px 20px -15px;
}
.img-carousel .item{
    position: relative;
}
.img-carousel .item::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 37%, #46c2ff 99%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 37%,#46c2ff 99%);
    background: linear-gradient(to bottom, #ffffff 0%,#d6d6d6 37%,#46c2ff 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#46c2ff',GradientType=0 );
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.5;
}
/* img slider */
#img-slider {
    width: 100%;
}
#img-slider .owl-stage {
    background-color: rgba(30, 144, 255, 0.8);
}
#img-slider .owl-item {
    padding: 0;
    position: relative;
    opacity: .5;
}
#img-slider .owl-item img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 800px;
}
#img-slider .center {
    opacity: 1;
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 9999;
}
#img-slider .owl-controls .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
#img-slider .owl-controls .owl-nav .prev {
    position: absolute;
    height: 80%;
    width: 15%;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
#img-slider .owl-controls .owl-nav .next {
    position: absolute;
    height: 80%;
    width: 15%;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
#img-slider .owl-thumbs {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding-left: 50px;
}
#img-slider .owl-thumb-item {
    width: 70px;
    height: 70px;
    background: none;
    padding: 0;
    opacity: 1;
    position: relative;
    z-index: 99;
    margin: 0 15px;
    background: none;
    border: none;
}
#img-slider .owl-thumb-item.active:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background: #21212E;
    bottom: -10px;
    left: 10px;
    border-radius: 4px;
}
#img-slider .owl-thumb-item.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid black;
    top: -13px;
    left: 26px;
}
#img-slider .owl-thumb-item img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}
#img-slider .owl-thumb-item.active img {
    border:2px solid #21212E;
}
#img-slider .owl-thumb-item.active img {
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
}

/* contact */
section.secContact {
    padding: 70px 0;
}
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .form-control:focus + .label, .contact-form .form-control.not-empty + .label {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.5;
}
.contact-form .label {
    position: absolute;
    left: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    top: 16px;
}
.hand-icon {
    max-width: 24px;
}
.wlcome-msg h5 {
    opacity: 0.5;
    margin-bottom: 50px;
}
.form-group{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    height: 50px;
}
.form-control:focus {
    color: #fff;
    background: none!important;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
textarea.form-control{
    width: 100%;
}
.contact-form {
    padding: 0 50px 0 120px;
}
.black-wrapper {
    background: #14141F;
    box-shadow: 0 3px 20px #000;
    padding: 50px 130px;
    margin-right: -15px;
}
.black-wrapper > figure {
    max-width: 500px;
    margin: 0 auto;
}
.address-container {
    margin-top: 40px;
}